/.vs/ProjectEvaluation/webapplication.metadata.v9.bin
/.vs/ProjectEvaluation/webapplication.projects.v9.bin
/.vs/ProjectEvaluation/webapplication.strings.v9.bin
/.vs/WebApplication/config/applicationhost.config
/.vs/WebApplication/DesignTimeBuild/.dtbcache.v2
/.vs/WebApplication/FileContentIndex/4461c8d3-e644-45a8-8fd2-90b3084294a1.vsidx
/.vs/WebApplication/FileContentIndex/d569acb4-0051-4137-a94b-77db9aa01f2f.vsidx
/.vs/WebApplication/FileContentIndex/f6942aa4-733d-4ddb-9b54-7433fd0ff0a5.vsidx
/.vs/WebApplication/FileContentIndex/fa872caa-fbcb-4676-a0ef-02c7489f6aa9.vsidx
/.vs/WebApplication/FileContentIndex/ffb1bbcd-03b0-4be3-9ed0-1f178660fcfb.vsidx
/.vs/WebApplication/v17/.futdcache.v2
/.vs/WebApplication/v17/.suo
/.vs/WebApplication/v17/DocumentLayout.backup.json
/.vs/WebApplication/v17/DocumentLayout.json
/WebApplication.sln
/WebApplication/appsettings.Development.json
/WebApplication/appsettings.json
/WebApplication/bin/Debug/net8.0/appsettings.Development.json
/WebApplication/bin/Debug/net8.0/appsettings.json
/WebApplication/bin/Debug/net8.0/Azure.Core.dll
/WebApplication/bin/Debug/net8.0/Azure.Identity.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/Humanizer.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/WebApplication/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/WebApplication/bin/Debug/net8.0/Mono.TextTemplating.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/WebApplication/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/WebApplication/bin/Debug/net8.0/System.CodeDom.dll
/WebApplication/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/WebApplication/bin/Debug/net8.0/System.Composition.Convention.dll
/WebApplication/bin/Debug/net8.0/System.Composition.Hosting.dll
/WebApplication/bin/Debug/net8.0/System.Composition.Runtime.dll
/WebApplication/bin/Debug/net8.0/System.Composition.TypedParts.dll
/WebApplication/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/WebApplication/bin/Debug/net8.0/System.Drawing.Common.dll
/WebApplication/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/WebApplication/bin/Debug/net8.0/System.Memory.Data.dll
/WebApplication/bin/Debug/net8.0/System.Runtime.Caching.dll
/WebApplication/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/WebApplication/bin/Debug/net8.0/System.Security.Permissions.dll
/WebApplication/bin/Debug/net8.0/System.Windows.Extensions.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/WebApplication.deps.json
/WebApplication/bin/Debug/net8.0/WebApplication.dll
/WebApplication/bin/Debug/net8.0/WebApplication.exe
/WebApplication/bin/Debug/net8.0/WebApplication.pdb
/WebApplication/bin/Debug/net8.0/WebApplication.runtimeconfig.json
/WebApplication/bin/Debug/net8.0/WebApplication.staticwebassets.runtime.json
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/.vs/WebApplication/FileContentIndex/d60ed6c7-7ad6-4dca-8278-1b980b8ece85.vsidx
/WebApplication/Migrations/20250110211217_InitialCreate.cs
/WebApplication/Migrations/20250110211217_InitialCreate.Designer.cs
/WebApplication/Migrations/AppDbContextModelSnapshot.cs
/WebApplication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebApplication/obj/Debug/net8.0/ApiEndpoints.json
/WebApplication/obj/Debug/net8.0/apphost.exe
/WebApplication/obj/Debug/net8.0/ref/WebApplication.dll
/WebApplication/obj/Debug/net8.0/refint/WebApplication.dll
/WebApplication/obj/Debug/net8.0/scopedcss/bundle/WebApplication.styles.css
/WebApplication/obj/Debug/net8.0/scopedcss/projectbundle/WebApplication.bundle.scp.css
/WebApplication/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/WebApplication/obj/Debug/net8.0/staticwebassets.build.json
/WebApplication/obj/Debug/net8.0/staticwebassets.development.json
/WebApplication/obj/Debug/net8.0/staticwebassets.pack.json
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApplication.props
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApplication.props
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebApplication.props
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.WebApplication.Microsoft.AspNetCore.StaticWebAssets.props
/WebApplication/obj/Debug/net8.0/WebAppli.11721D13.Up2Date
/WebApplication/obj/Debug/net8.0/WebApplication.AssemblyInfo.cs
/WebApplication/obj/Debug/net8.0/WebApplication.AssemblyInfoInputs.cache
/WebApplication/obj/Debug/net8.0/WebApplication.assets.cache
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.AssemblyReference.cache
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.BuildWithSkipAnalyzers
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.CoreCompileInputs.cache
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.FileListAbsolute.txt
/WebApplication/obj/Debug/net8.0/WebApplication.dll
/WebApplication/obj/Debug/net8.0/WebApplication.GeneratedMSBuildEditorConfig.editorconfig
/WebApplication/obj/Debug/net8.0/WebApplication.genruntimeconfig.cache
/WebApplication/obj/Debug/net8.0/WebApplication.GlobalUsings.g.cs
/WebApplication/obj/Debug/net8.0/WebApplication.MvcApplicationPartsAssemblyInfo.cache
/WebApplication/obj/Debug/net8.0/WebApplication.pdb
/WebApplication/obj/Debug/net8.0/WebApplication.RazorAssemblyInfo.cache
/WebApplication/obj/Debug/net8.0/WebApplication.RazorAssemblyInfo.cs
/WebApplication/obj/desktop.ini
/WebApplication/obj/project.assets.json
/WebApplication/obj/project.nuget.cache
/WebApplication/obj/WebApplication.csproj.nuget.dgspec.json
/WebApplication/obj/WebApplication.csproj.nuget.g.props
/WebApplication/obj/WebApplication.csproj.nuget.g.targets
/WebApplication/Program.cs
/WebApplication/Properties/launchSettings.json
/WebApplication/Views/_ViewImports.cshtml
/WebApplication/Views/Shared/_Layout.cshtml.css
/WebApplication/Views/Shared/_ValidationScriptsPartial.cshtml
/WebApplication/Views/Shared/Error.cshtml
/WebApplication/WebApplication.csproj
/WebApplication/WebApplication.csproj.user
/WebApplication/wwwroot/css/site.css
/WebApplication/wwwroot/favicon.ico
/WebApplication/wwwroot/js/site.js
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
/WebApplication/wwwroot/lib/bootstrap/LICENSE
/WebApplication/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
/WebApplication/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
/WebApplication/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/WebApplication/wwwroot/lib/jquery-validation/dist/additional-methods.js
/WebApplication/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
/WebApplication/wwwroot/lib/jquery-validation/dist/jquery.validate.js
/WebApplication/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
/WebApplication/wwwroot/lib/jquery-validation/LICENSE.md
/WebApplication/wwwroot/lib/jquery/dist/jquery.js
/WebApplication/wwwroot/lib/jquery/dist/jquery.min.js
/WebApplication/wwwroot/lib/jquery/dist/jquery.min.map
/WebApplication/wwwroot/lib/jquery/LICENSE.txt
/.vs/WebApplication/FileContentIndex/d795bae0-55e6-4729-80c3-f5dc9571e827.vsidx
/.vs/WebApplication/FileContentIndex/48b0e93a-0095-45c9-a5cd-b5d9b943fd9d.vsidx
/.vs/WebApplication/FileContentIndex/4938f7a9-19e5-4fee-999c-47aa75f9f000.vsidx
/.vs/WebApplication/FileContentIndex/57d08fe5-ec1f-491a-a6d6-1221b87d9a41.vsidx
/WebApplication/obj/Debug/net8.0/WebApplication.sourcelink.json
/.vs/WebApplication/FileContentIndex/c8c2106e-7127-46e0-9467-ff137b3e48a8.vsidx
/.vs/WebApplication/FileContentIndex/cd2a4f37-0349-48fc-acc2-28698282ea59.vsidx
/.vs/WebApplication/FileContentIndex/cd82b15f-fef9-437d-808e-ef36dc649031.vsidx
/.vs/WebApplication/FileContentIndex/e3924eaf-8154-4cf8-9a98-f5859f2a31a7.vsidx
/.vs/WebApplication/FileContentIndex/88c45b7c-28e5-423f-8522-ea0bf5a38162.vsidx
/.vs/WebApplication/FileContentIndex/b169913a-6f93-42af-a7a0-1c7cca5f1d2c.vsidx
/.vs/WebApplication/FileContentIndex/df7b182f-9c44-44e1-8f24-addbd90826d7.vsidx
/.vs/WebApplication/FileContentIndex/e669fcdf-fdfa-44de-9b46-679526a91665.vsidx
/.vs/WebApplication/FileContentIndex/f1ae94bd-8970-4ffd-abaf-dd1e7a0c1906.vsidx
/.vs/WebApplication/FileContentIndex/1949d9e9-fb67-4386-928c-62f1ad4a5be4.vsidx
/.vs/WebApplication/FileContentIndex/55f9d619-4ff2-4eb9-a6f4-a9fdc9f27e9b.vsidx
/.vs/WebApplication/FileContentIndex/b3c96604-276a-4da9-927a-e0e5712332de.vsidx
/.vs/WebApplication/FileContentIndex/bd16f9c4-ad2a-44d4-9f2e-92fa2eab80b2.vsidx
/.vs/WebApplication/FileContentIndex/fc2e527b-3cac-4213-91f3-f480ee6809f8.vsidx
/.vs/WebApplication/FileContentIndex/5847693f-3be2-43a1-afa8-dcd0158da2b9.vsidx
/.vs/WebApplication/FileContentIndex/73ce17d7-196a-4892-9181-6e2cec1376ef.vsidx
/.vs/WebApplication/FileContentIndex/804993d5-9531-48cc-9883-542c72b7c167.vsidx
/.vs/WebApplication/FileContentIndex/d8e6a94a-79e8-4a11-bae6-8594e27d514f.vsidx
