/.vs/ProjectEvaluation/webapplication.metadata.v9.bin
/.vs/ProjectEvaluation/webapplication.projects.v9.bin
/.vs/ProjectEvaluation/webapplication.strings.v9.bin
/.vs/WebApplication/config/applicationhost.config
/.vs/WebApplication/DesignTimeBuild/.dtbcache.v2
/.vs/WebApplication/FileContentIndex/4461c8d3-e644-45a8-8fd2-90b3084294a1.vsidx
/.vs/WebApplication/FileContentIndex/d569acb4-0051-4137-a94b-77db9aa01f2f.vsidx
/.vs/WebApplication/FileContentIndex/f6942aa4-733d-4ddb-9b54-7433fd0ff0a5.vsidx
/.vs/WebApplication/FileContentIndex/fa872caa-fbcb-4676-a0ef-02c7489f6aa9.vsidx
/.vs/WebApplication/FileContentIndex/ffb1bbcd-03b0-4be3-9ed0-1f178660fcfb.vsidx
/.vs/WebApplication/v17/.futdcache.v2
/.vs/WebApplication/v17/.suo
/.vs/WebApplication/v17/DocumentLayout.backup.json
/.vs/WebApplication/v17/DocumentLayout.json
/WebApplication.sln
/WebApplication/appsettings.Development.json
/WebApplication/appsettings.json
/WebApplication/bin/Debug/net8.0/appsettings.Development.json
/WebApplication/bin/Debug/net8.0/appsettings.json
/WebApplication/bin/Debug/net8.0/Azure.Core.dll
/WebApplication/bin/Debug/net8.0/Azure.Identity.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/Humanizer.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/WebApplication/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/WebApplication/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/WebApplication/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/WebApplication/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/WebApplication/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/WebApplication/bin/Debug/net8.0/Mono.TextTemplating.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/WebApplication/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/WebApplication/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/WebApplication/bin/Debug/net8.0/System.CodeDom.dll
/WebApplication/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/WebApplication/bin/Debug/net8.0/System.Composition.Convention.dll
/WebApplication/bin/Debug/net8.0/System.Composition.Hosting.dll
/WebApplication/bin/Debug/net8.0/System.Composition.Runtime.dll
/WebApplication/bin/Debug/net8.0/System.Composition.TypedParts.dll
/WebApplication/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/WebApplication/bin/Debug/net8.0/System.Drawing.Common.dll
/WebApplication/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/WebApplication/bin/Debug/net8.0/System.Memory.Data.dll
/WebApplication/bin/Debug/net8.0/System.Runtime.Caching.dll
/WebApplication/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/WebApplication/bin/Debug/net8.0/System.Security.Permissions.dll
/WebApplication/bin/Debug/net8.0/System.Windows.Extensions.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/WebApplication.deps.json
/WebApplication/bin/Debug/net8.0/WebApplication.dll
/WebApplication/bin/Debug/net8.0/WebApplication.exe
/WebApplication/bin/Debug/net8.0/WebApplication.pdb
/WebApplication/bin/Debug/net8.0/WebApplication.runtimeconfig.json
/WebApplication/bin/Debug/net8.0/WebApplication.staticwebassets.runtime.json
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/WebApplication/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/.vs/WebApplication/FileContentIndex/d60ed6c7-7ad6-4dca-8278-1b980b8ece85.vsidx
/WebApplication/Migrations/20250110211217_InitialCreate.cs
/WebApplication/Migrations/20250110211217_InitialCreate.Designer.cs
/WebApplication/Migrations/AppDbContextModelSnapshot.cs
/WebApplication/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebApplication/obj/Debug/net8.0/ApiEndpoints.json
/WebApplication/obj/Debug/net8.0/apphost.exe
/WebApplication/obj/Debug/net8.0/ref/WebApplication.dll
/WebApplication/obj/Debug/net8.0/refint/WebApplication.dll
/WebApplication/obj/Debug/net8.0/scopedcss/bundle/WebApplication.styles.css
/WebApplication/obj/Debug/net8.0/scopedcss/projectbundle/WebApplication.bundle.scp.css
/WebApplication/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/WebApplication/obj/Debug/net8.0/staticwebassets.build.json
/WebApplication/obj/Debug/net8.0/staticwebassets.development.json
/WebApplication/obj/Debug/net8.0/staticwebassets.pack.json
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApplication.props
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApplication.props
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebApplication.props
/WebApplication/obj/Debug/net8.0/staticwebassets/msbuild.WebApplication.Microsoft.AspNetCore.StaticWebAssets.props
/WebApplication/obj/Debug/net8.0/WebAppli.11721D13.Up2Date
/WebApplication/obj/Debug/net8.0/WebApplication.AssemblyInfo.cs
/WebApplication/obj/Debug/net8.0/WebApplication.AssemblyInfoInputs.cache
/WebApplication/obj/Debug/net8.0/WebApplication.assets.cache
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.AssemblyReference.cache
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.BuildWithSkipAnalyzers
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.CoreCompileInputs.cache
/WebApplication/obj/Debug/net8.0/WebApplication.csproj.FileListAbsolute.txt
/WebApplication/obj/Debug/net8.0/WebApplication.dll
/WebApplication/obj/Debug/net8.0/WebApplication.GeneratedMSBuildEditorConfig.editorconfig
/WebApplication/obj/Debug/net8.0/WebApplication.genruntimeconfig.cache
/WebApplication/obj/Debug/net8.0/WebApplication.GlobalUsings.g.cs
/WebApplication/obj/Debug/net8.0/WebApplication.MvcApplicationPartsAssemblyInfo.cache
/WebApplication/obj/Debug/net8.0/WebApplication.pdb
/WebApplication/obj/Debug/net8.0/WebApplication.RazorAssemblyInfo.cache
/WebApplication/obj/Debug/net8.0/WebApplication.RazorAssemblyInfo.cs
/WebApplication/obj/desktop.ini
/WebApplication/obj/project.assets.json
/WebApplication/obj/project.nuget.cache
/WebApplication/obj/WebApplication.csproj.nuget.dgspec.json
/WebApplication/obj/WebApplication.csproj.nuget.g.props
/WebApplication/obj/WebApplication.csproj.nuget.g.targets
/WebApplication/Program.cs
/WebApplication/Properties/launchSettings.json
/WebApplication/Views/_ViewImports.cshtml
/WebApplication/Views/Shared/_Layout.cshtml.css
/WebApplication/Views/Shared/_ValidationScriptsPartial.cshtml
/WebApplication/Views/Shared/Error.cshtml
/WebApplication/WebApplication.csproj
/WebApplication/WebApplication.csproj.user
/WebApplication/wwwroot/css/site.css
/WebApplication/wwwroot/favicon.ico
/WebApplication/wwwroot/js/site.js
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
/WebApplication/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
/WebApplication/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
/WebApplication/wwwroot/lib/bootstrap/LICENSE
/WebApplication/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
/WebApplication/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
/WebApplication/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/WebApplication/wwwroot/lib/jquery-validation/dist/additional-methods.js
/WebApplication/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
/WebApplication/wwwroot/lib/jquery-validation/dist/jquery.validate.js
/WebApplication/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
/WebApplication/wwwroot/lib/jquery-validation/LICENSE.md
/WebApplication/wwwroot/lib/jquery/dist/jquery.js
/WebApplication/wwwroot/lib/jquery/dist/jquery.min.js
/WebApplication/wwwroot/lib/jquery/dist/jquery.min.map
/WebApplication/wwwroot/lib/jquery/LICENSE.txt
